<?xml version="1.0"?>

<configuration>

  <connectionStrings>

    <add
      name="EmployeeDB"
      connectionString="Data Source=DESKTOP-LDBJA37\SAMISHA;Initial Catalog=EmployeeDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />

  </connectionStrings>

  <system.web>

    <compilation debug="true" targetFramework="4.0" />

  </system.web>

</configuration>